// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright (C) 2020 Álvaro Fernández Rojas <noltari@gmail.com>
 */

/dts-v1/;

#include "brcm,bcm6328.dtsi"

/ {
	model = "Sercomm AD1018";
	compatible = "sercomm,ad1018", "brcm,bcm6328";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};
};

&enet {
	status = "okay";

	port@0 {
		compatible = "brcm,enetsw-port";
		reg = <0>;
		label = "fe1";
		brcm,phy-id = <1>;
	};

	port@1 {
		compatible = "brcm,enetsw-port";
		reg = <1>;
		label = "fe2";
		brcm,phy-id = <2>;
	};

	port@2 {
		compatible = "brcm,enetsw-port";
		reg = <2>;
		label = "fe3";
		brcm,phy-id = <3>;
	};

	port@3 {
		compatible = "brcm,enetsw-port";
		reg = <3>;
		label = "fe4";
		brcm,phy-id = <4>;
	};
};

&nand {
	status = "okay";

	nandcs@0 {
		compatible = "brcm,nandcs";
		reg = <0>;
		nand-ecc-strength = <15>;
		nand-ecc-step-size = <512>;
		brcm,nand-oob-sector-size = <64>;
	};
};

&spi {
	status = "okay";

	spi-flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;
		spi-max-frequency = <33333334>;
	};
};

&uart0 {
	u-boot,dm-pre-reloc;
	status = "okay";
};
